@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --primary: #c52670;
    --background: #10040a;
    --text: #faf4f7;
    --secondary: #730d3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans";
}

body {
    background-color: var(--background);
    position: relative;
    cursor: url(assets/heart.png), pointer;
}

.header {
    display: none;
}

.hero {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title, .description, .tools-title, .about-title, .about-description {
    color: var(--text);
}

.primary {
    color: var(--primary);
}

.title {
    font-size: 48px;

}

.subtitle {
    color: var(--primary);
    font-size: 30px;
    margin-bottom: 10px;
}

.description, .about-description {
    font-size: 24px;
    max-width: 750px;
    text-align: justify;
}

.aboutme {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jigglypuff {
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: 150px;
    height: 150px;
}

.tools-wrapper {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools-title, .about-title {
    font-size: 35px;
    line-height: 80px;
    
}

.tools-div {
    width: 100%;
    overflow: hidden;
}

.tools-slide {
    display: inline-block;
    animation: anima 20s linear infinite;    
}

.tools-slide img {
    width: 50px;
    margin: 20px;
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}