@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --primary: #c52670;
    --background: #10040a;
    --text: #faf4f7;
    --secondary: #730d3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans";
}

body {
    background-color: var(--background);
    position: relative;
    cursor: url(assets/heart.png), pointer;
}

.header {
    display: none;
}

.hero {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title, .description, .tools-title, .about-title, .about-description, .projects-title {
    color: var(--text);
}

.primary {
    color: var(--primary);
}

.title {
    font-size: 48px;

}

.subtitle {
    color: var(--primary);
    font-size: 30px;
    margin-bottom: 10px;
}

.description, .about-description {
    font-size: 24px;
    max-width: 750px;
    text-align: justify;
}

.aboutme {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jigglypuff {
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: 150px;
    height: 150px;
}

.tools-wrapper {
    display: flex;
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools-title, .about-title, .projects-title {
    font-size: 35px;
    line-height: 80px;
    
}

.tools-div {
    width: 100%;
    overflow: hidden;
}

.tools-slide {
    display: inline-block;
    animation: anima 20s linear infinite;    
}

.tools-slide img {
    width: 50px;
    margin: 20px;
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.projects {
    display: flex;
    width: 60vw;
    min-height: 80vh;
    margin: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.carousel {
    display: flex;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 1rem 0;
    width: 100%;
    margin: 2rem 0;
    max-width: 1200px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.card {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 300px;
    min-height: 250px;

    background: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.3s ease;
}